body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/bg.png");
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    color: #445857;
    font-weight: 500;
}

.container h2{
    color: #b33232;
}

h2{
    font-family: 'Jua', sans-serif;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    font-weight: normal;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0; 
}

li{
    list-style: none;
    font-size: 1rem;
    margin: 0 0 0.5rem 1rem;
}

ul li:hover{
    font-weight: 600;
}

input[type=radio]:checked + label {
    font-weight: 600;
  } 

button{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background-color: #80dd47;
    border: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5rem;
}

button:hover{
    background: #6ab73a;
}

.highlight{
    text-decoration: underline;
    font-weight: 600;
}

.hidden{
    display: none;
}

.character{
    max-width: 40rem;
    margin-top: 2rem;
}

#result{
    color: #b33232;
}

a button{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 582px) and (min-width: 415px) {
    a img{
        max-width: 25rem;
    }
    }

    .character{
        max-width: 30rem;
    }

@media screen and (max-width: 415px){
    a img{
        max-width: 25rem;
    }
    button{
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
    }
    h2{
        font-size: 1.3rem;                
    }
    .character{
        max-width: 20rem;
    }
}